<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 杭州端点网络科技有限公司
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Warehouse">
    <resultMap id="WarehouseMap" type="Warehouse">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="address" property="address"/>
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="owner_id" property="ownerId"/>
        <result column="is_default" property="isDefault"/>
        <result column="is_mpos" property="isMpos" />
        <result column="extra_json" property="extraJson"/>
        <result column="tags_json" property="tagsJson" />
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        pousheng_warehouses
    </sql>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
        code, name, `type`, `status`, address, company_id,company_name, owner_id, is_default,is_mpos, extra_json, tags_json, created_at, updated_at
    </sql>

    <sql id="vals">
        #{code}, #{name},#{type}, #{status}, #{address}, #{companyId}, #{companyName}, #{ownerId}, #{isDefault}, #{isMpos}, #{extraJson},#{tagsJson},now(), now()
    </sql>

    <sql id="queryCondition">

        <if test="codePrefix!=null">and `code` like concat(#{codePrefix},'-%')</if>

        <if test="code != null">and `code` = #{code}</if>

        <if test="name != null">and `name` LIKE CONCAT(#{name}, '%')</if>

        <if test="companyId != null"> and company_id = #{companyId} </if>

        <if test="companyName != null"> and company_name = #{companyName} </if>

        <if test="ownerId != null">and `owner_id` = #{ownerId}</if>

        <if test="isDefault != null">and `is_default` = #{isDefault}</if>

        <if test="isMpos != null">and is_mpos = #{isMpos}</if>

        <if test="outCode!=null"> and `extra_json` like concat('%',#{outCode}, '%') </if>

    </sql>

    <sql id="order">
        order by id desc
    </sql>

    <insert id="create" parameterType="Warehouse" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <select id="findById" parameterType="long" resultMap="WarehouseMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </select>

    <select id="findByCode" parameterType="string" resultMap="WarehouseMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE code = #{code} LIMIT 1
    </select>

    <select id="findByFuzzyCode" parameterType="string" resultMap="WarehouseMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE code like concat('%',#{code}, '%')
    </select>

    <select id="findByIds" parameterType="list" resultMap="WarehouseMap">
        select id,
        <include refid="cols_exclude_id"/>
        from
        <include refid="tb"/>
        where id in
        <foreach collection="list" open="(" separator="," close=")"
                 item="item">
            #{item}
        </foreach>
        <include refid="order"/>
    </select>

    <update id="update" parameterType="Warehouse">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="type!=null">`type`=#{type},</if>
            <if test="name != null">name = #{name},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="isMpos != null">is_mpos = #{isMpos},</if>
            <if test="extraJson != null">extra_json = #{extraJson},</if>
            <if test="tagsJson != null">tags_json = #{tagsJson},</if>
            updated_at=now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </delete>

    <select id="paging" parameterType="list" resultMap="WarehouseMap">
        select id,
        <include refid="cols_exclude_id"/>
        from
        <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
        order by id desc limit #{offset},#{limit}
    </select>

    <select id="count" parameterType="list" resultType="long">
        select count(1)
        from
        <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>

</mapper>