<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 杭州端点网络科技有限公司
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="WarehouseRulePriority">
    <resultMap id="WarehouseRulePriorityMap" type="WarehouseRulePriority">
        <id column="id" property="id"/>
        <result column="rule_id" property="ruleId"/>
        <result column="name" property="name"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

    </resultMap>

    <sql id="tb">
        pousheng_warehouse_rule_prioritys
    </sql>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
        rule_id, name, start_date, end_date, status, created_at, updated_at
    </sql>

    <sql id="vals">
        #{ruleId}, #{name}, #{startDate}, #{endDate}, #{status}, now(), now()
    </sql>

    <sql id="queryCondition">

        <if test="ruleId != null">and `rule_id` = #{ruleId}</if>

        <if test="name != null">and `name` = #{name}</if>

        <if test="startDate != null">and `start_date` = #{startDate}</if>

        <if test="endDate != null">and `end_date` = #{endDate}</if>

        <if test="status != null">and `status` = #{status}</if>

        <if test="createdAt != null">and `created_at` = #{createdAt}</if>

        <if test="updatedAt != null">and `updated_at` = #{updatedAt}</if>

        <if test="startAt != null">and start_date &gt;= #{startAt}</if>

        <if test="endAt != null">and end_date &lt;= #{endAt}</if>

        <if test="searchDate != null">and start_date &lt;= #{searchDate} and end_date  &gt;= #{searchDate}</if>
    </sql>

    <sql id="order">
        order by id desc
    </sql>

    <insert id="create" parameterType="WarehouseRulePriority" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <select id="findById" parameterType="long" resultMap="WarehouseRulePriorityMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </select>

    <select id="findByIds" parameterType="list" resultMap="WarehouseRulePriorityMap">
        select id,
        <include refid="cols_exclude_id"/>
        from
        <include refid="tb"/>
        where id in
        <foreach collection="list" open="(" separator="," close=")"
                 item="item">
            #{item}
        </foreach>
        <include refid="order"/>
    </select>

    <update id="update" parameterType="WarehouseRulePriority">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="status != null">status = #{status},</if>


            updated_at=now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </delete>

    <select id="paging" parameterType="list" resultMap="WarehouseRulePriorityMap">
        select id,
        <include refid="cols_exclude_id"/>
        from
        <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
        order by status, start_date desc limit #{offset},#{limit}
    </select>

    <select id="count" parameterType="list" resultType="long">
        select count(1)
        from
        <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>

    <select id="checkByName" parameterType="map" resultType="long">
        select count(1)
        from
        <include refid="tb"/>
        WHERE name=#{name}
        <if test="id != null">AND id != #{id}</if>
    </select>


    <select id="checkTimeRange" parameterType="map" resultType="long">
        select count(1)
        from
        <include refid="tb"/>
        WHERE rule_id= #{ruleId} AND start_date &lt;= #{endDate} AND end_date &gt;= #{startDate}
        <if test="id != null">AND id != #{id}</if>
    </select>
</mapper>
