logging:
  file: logs/middle-web.log

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/pousheng?useUnicode=true&characterEncoding=UTF8
    username: root
    password: anywhere

mybatis:
  mapper-locations: classpath*:mapper/*Mapper.xml
  type-aliases-package: >
      com.pousheng.(erp|auth).model,
      com.pousheng.middle.warehouse.model,
      com.pousheng.middle.order.model,
      io.terminus.parana.(item|category|brand|spu|shop).model,
      io.terminus.parana.(order|cart|express|promotion|delivery|settle|auth).model,
      io.terminus.open.client.common.(mappings|token|shop).model,
      io.terminus.open.client.item.model



session:
  cookie-context-path: /
  cookie-domain: pousheng.com
  cookie-name: msid
  cookie-max-age: 1800
  source: redis
  serialize-type: json
  redis-host: 127.0.0.1
  redis-port: 6379
  redis-index: 0
  redis-cluster: false
  redis-test-on-borrow: true
  redis-max-total: 10
  redis-max-idle: 0
  redis-prefix: afsession


gateway:
  erp:
    host: http://esbt.pousheng.com
    accessKey: b82d30f3f1fc4e43b3f427ba3d7b9a50
  member:
    host: http://api-test-member.pousheng.com
  hk:
    host: http://esbt.pousheng.com
    accessKey: 646edef40c9c481fb9cd9c61a41dabc1
  yyedi:
      host: https://esbt.pousheng.com
      accessKey: b82d30f3f1fc4e43b3f427ba3d7b9a50

open.api.app.key: terminus
open.api.secret: anywhere
open.api.gateway: http://127.0.0.1:8090/api/gateway

azure:
  oss:
    defaultEndpointsProtocol: https
    accountName: devdiag685
    accountKey: ibH/7kzCiXTXAN+tEI4TGKc8xwpXQtGYTb3b3Pv1xE0SVct5apwwKbKCwybSWnY1Grp8ioh8N1VGjhlzvvf/dA==
    endpointSuffix: core.chinacloudapi.cn
    #timeout: 8000 #不配置不启用

export:
  local.temp.file.location: /var/local/dd/rr #导出时生成的临时文件目录，不存在自动创建，不指定默认项目所在路径

erp.token:
  appKey: terminus-erp
  secret: anywhere-erp
  gateway: http://127.0.0.1:8080/api/gateway

ych.token:
  appKey: xxx
  secret: yyy
  gateway: http://account.ose.aliyun.com
  gatewayOfLog: http://gw.ose.aliyun.com/event
  clientIp: 42.159.144.178


taobao.token:
  appKey: xxx
  appName: 端点中台

search:
  host: 127.0.0.1
  port: 9200

skutemplate:
  search:
    index-name: skutemplates
    index-type: skutemplate
    mapping-path: ps_sku_template_mapping.json
    full-dump-range: -1
    batch-size: 100
## 这个开关用于开放拉取第三方的商品与中台的映射关系-生产环境为true
open.client.sync.item.mapping.job.enable: false

# mpos系统调用的api白名单
mpos.white.url.list: '/api/middle/sku/template/search,/api/middle/region/.*,/api/middle/address/.*'

# mpos总单OpenShopId
mpos.open.shop.id: xxx

msg:
  current:
    emailService: javaxEmailService
  javaxemail:
    mailServerHost: smtp.163.com
    fromAddress: yyecsys@163.com
    userName: yyecsys
    password: yyec1qaz2wsx


msg.template.list:
  - key: email.order.confirm
    title: 派单提醒
    content: >
        {{shopName}} 店铺，你有一张订单待接单，订单号为:{{orderId}}，请立即处理

# pos单仓库
pos.stock.code: ${POS.STOCK.CODE}

# mpos邮件组
pousheng.order.email.confirm.group: