logging:
  file: logs/middle-web.log

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/pousheng
    username: root
    password: anywhere

mybatis:
  mapper-locations: classpath*:mapper/*Mapper.xml
  type-aliases-package: >
      com.pousheng.erp.model,
      io.terminus.parana.(item|category|brand|spu|shop).model,
      io.terminus.parana.(order|cart|express|promotion|delivery|settle).model,
      io.terminus.open.client.common.mappings.model,io.terminus.open.client.common.token.model


