<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 杭州端点网络科技有限公司
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ExpressCode">
    <resultMap id="ExpressCodeMap" type="ExpressCode">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="offical_code" property="officalCode"/>
        <result column="pousheng_code" property="poushengCode"/>
        <result column="jd_code" property="jdCode"/>
        <result column="taobao_code" property="taobaoCode"/>
        <result column="suning_code" property="suningCode"/>
        <result column="fenqile_code" property="fenqileCode"/>
        <result column="hk_code" property="hkCode"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        pousheng_trade_express_code
    </sql>
    <sql id="cols_all">
        id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        name, offical_code,pousheng_code,jd_code, taobao_code,suning_code,
        fenqile_code,hk_code,created_at, updated_at
    </sql>
    <sql id="vals">
         #{name}, #{officalCode},#{poushengCode}, #{jdCode},#{taobaoCode},
        #{suningCode},#{fenqileCode},#{hkCode}, now(), now()
    </sql>
    <sql id="queryCondition">

        <if test="name != null">and `name` LIKE CONCAT('%', #{name}, '%')</if>

        <if test="officalCode != null">and `offical_code` = #{officalCode}</if>

        <if test="poushengCode != null">and `pousheng_code` = #{poushengCode}</if>

        <if test="jdCode != null">and `jd_code` = #{jdCode}</if>

        <if test="taobaoCode != null">and `taobao_code` = #{taobaoCode}</if>

        <if test="suningCode != null">and `suning_code` = #{suningCode}</if>

        <if test="fenqileCode != null">and `fenqile_code` = #{fenqileCode}</if>

        <if test="hkCode != null">and `hk_code` = #{hkCode}</if>
    </sql>
    <sql id="order">
        order by id desc
    </sql>

    <insert id="create" parameterType="ExpressCode" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb" />
        (<include refid="cols_exclude_id" />)
        VALUES
        (<include refid="vals" />)
    </insert>

    <select id="findById" parameterType="long" resultMap="ExpressCodeMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE id = #{id}
    </select>
    <select id="findByName" parameterType="string" resultMap="ExpressCodeMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE name = #{name}
    </select>
    <select id="findByOfficalCode" parameterType="string" resultMap="ExpressCodeMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE offical_code = #{officalCode}
    </select>
    <update id="update" parameterType="ExpressCode">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="officalCode != null">offical_code = #{officalCode},</if>
            <if test="poushengCode != null">pousheng_code = #{poushengCode},</if>
            <if test="jdCode != null">jd_code = #{jdCode},</if>
            <if test="taobaoCode != null">taobao_code = #{taobaoCode},</if>
            <if test="suningCode != null">suning_code = #{suningCode},</if>
            <if test="fenqileCode != null">fenqile_code = #{fenqileCode},</if>
            <if test="hkCode != null">hk_code = #{hkCode},</if>
            updated_at=now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id = #{id}
    </delete>

    <select id="paging" parameterType="list" resultMap="ExpressCodeMap">
        select id, <include refid="cols_exclude_id"/>
        from <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
        order by id desc limit #{offset},#{limit}
    </select>

    <select id="count" parameterType="list" resultType="long">
        select count(1)
        from <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>
</mapper>