<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 杭州端点网络科技有限公司
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PoushengGiftActivity">
    <resultMap id="PoushengGiftActivityMap" type="PoushengGiftActivity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="order_rule" property="orderRule"/>
        <result column="order_fee" property="orderFee"/>
        <result column="order_quantity" property="orderQuantity"/>
        <result column="total_price" property="totalPrice"/>
        <result column="status" property="status"/>
        <result column="quantity_rule" property="quantityRule"/>
        <result column="already_activity_quantity" property="alreadyActivityQuantity"/>
        <result column="activity_quantity" property="activityQuantity"/>
        <result column="extra_json" property="extraJson"/>
        <result column="activity_start_at" property="activityStartAt"/>
        <result column="activity_end_at" property="activityEndAt"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        pousheng_gift_activity
    </sql>
    <sql id="cols_all">
        id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        name,order_rule,order_fee,order_quantity,total_price,status,
        quantity_rule,already_activity_quantity,activity_quantity,extra_json,activity_start_at,activity_end_at,created_at, updated_at
    </sql>
    <sql id="vals">
         #{name}, #{orderRule},#{orderFee}, #{orderQuantity},#{totalPrice},
        #{status},#{quantityRule},#{alreadyActivityQuantity},#{activityQuantity},#{extraJson},#{activityStartAt},#{activityEndAt},now(), now()
    </sql>
    <sql id="queryCondition">

        <if test="name != null">and `name` LIKE CONCAT('%', #{name}, '%')</if>

        <if test="orderRule != null">and `order_rule` = #{orderRule}</if>

        <if test="orderFee != null">and `order_fee` = #{orderFee}</if>

        <if test="orderQuantity != null">and `order_quantity` = #{orderQuantity}</if>

        <if test="totalPrice != null">and `total_price` = #{totalPrice}</if>

        <if test="status != null">and `status` = #{status}</if>

        <if test="quantityRule != null">and `quantity_rule` = #{quantityRule}</if>

        <if test="statuses != null">AND status IN
            <foreach collection="statuses" open="(" separator="," close=")" item="st">
                #{st}
            </foreach>
        </if>
    </sql>
    <sql id="order">
        order by id desc
    </sql>

    <insert id="create" parameterType="PoushengGiftActivity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb" />
        (<include refid="cols_exclude_id" />)
        VALUES
        (<include refid="vals" />)
    </insert>

    <select id="findById" parameterType="long" resultMap="PoushengGiftActivityMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE id = #{id}
    </select>
    <update id="update" parameterType="ExpressCode">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="orderRule != null">order_rule = #{orderRule},</if>
            <if test="orderFee != null">order_fee = #{orderFee},</if>
            <if test="orderQuantity != null">order_quantity = #{orderQuantity},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="quantityRule != null">quantity_rule = #{quantityRule},</if>
            <if test="alreadyActivityQuantity != null">already_activity_quantity = #{alreadyActivityQuantity},</if>
            <if test="activityQuantity != null">activity_quantity = #{activityQuantity},</if>
            <if test="extraJson != null">`extra_json` = #{extraJson},</if>
            <if test="activityStartAt != null">activity_start_at = #{activityStartAt},</if>
            <if test="activityEndAt != null">activity_end_at = #{activityEndAt},</if>
            updated_at=now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id = #{id}
    </delete>

    <select id="paging" parameterType="list" resultMap="PoushengGiftActivityMap">
        select id, <include refid="cols_exclude_id"/>
        from <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
        order by id desc limit #{offset},#{limit}
    </select>

    <select id="count" parameterType="list" resultType="long">
        select count(1)
        from <include refid="tb"/>
        <where>
            <include refid="queryCondition"/>
        </where>
    </select>
</mapper>