<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 杭州端点网络科技有限公司
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ShipmentAmount">
    <resultMap id="ShipmentAmountMap" type="ShipmentAmount">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="buyer_nick" property="buyerNick"/>
        <result column="order_mon" property="orderMon"/>
        <result column="fee_mon" property="feeMon"/>
        <result column="real_mon" property="realMon"/>
        <result column="shop_id" property="shopId"/>
        <result column="performance_shop_id" property="performanceShopId"/>
        <result column="stock_id" property="stockId"/>
        <result column="online_type" property="onlineType"/>
        <result column="online_order_no" property="onlineOrderNo"/>
        <result column="order_sub_no" property="orderSubNo"/>
        <result column="bar_code" property="barCode"/>
        <result column="num" property="num"/>
        <result column="preferential_mon" property="perferentialMon"/>
        <result column="sale_price" property="salePrice"/>
        <result column="total_price" property="totalPrice"/>
        <result column="hk_order_no" property="hkOrderNo"/>
        <result column="pos_no" property="posNo"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        
    </resultMap>

    <sql id="tb">
        shipment_amount
    </sql>

    <sql id="cols_all">
        id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        order_no, buyer_nick, order_mon, fee_mon,real_mon,shop_id,performance_shop_id,stock_id,online_type,online_order_no,order_sub_no,bar_code,num,preferential_mon,sale_price,total_price,hk_order_no,pos_no,created_at, updated_at
    </sql>

    <sql id="vals">
        #{orderNo}, #{buyerNick}, #{orderMon}, #{feeMon},#{realMon}, #{shopId}, #{performanceShopId}, #{stockId},#{onlineType}, #{onlineOrderNo}, #{orderSubNo}, #{barCode}, #{num}, #{perferentialMon}, #{salePrice},#{totalPrice},#{hkOrderNo},#{posNo},now(), now()
    </sql>

    <insert id="create" parameterType="OperationLog" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb" />
        (<include refid="cols_exclude_id" />)
        VALUES
        (<include refid="vals" />)
    </insert>

</mapper>