<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 杭州端点网络科技有限公司
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="StockRecordLog">
    <resultMap id="StockRecordLogMap" type="StockRecordLog">
        <id column="id" property="id"/>
        <result column="shipment_id" property="shipmentId"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="shop_id" property="shopId"/>
        <result column="sku_code" property="skuCode"/>
        <result column="context" property="context"/>
        <result column="type" property="type"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        
    </resultMap>

    <sql id="tb">
        pousheng_stock_record_log
    </sql>

    <sql id="cols_all">
        id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        shipment_id, warehouse_id, shop_id, sku_code, context, type, created_at, updated_at
    </sql>

    <sql id="vals">
        #{shipmentId}, #{warehouseId}, #{shopId}, #{skuCode}, #{context}, #{type}, now(), now()
    </sql>


    <insert id="create" parameterType="StockRecordLog" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb" />
        (<include refid="cols_exclude_id" />)
        VALUES
        (<include refid="vals" />)
    </insert>

</mapper>